.nav-item {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  background-color: transparent;
  transition:
    background-color cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
  // &::before {
  //   content: ' ';
  //   width: 8px;
  //   border-top-right-radius: 50%;
  //   border-bottom-right-radius: 50%;
  //   height: 100%;
  //   justify-content: center;
  //   background-color: var(--color-primary);
  //   position: absolute;
  //   transition:
  //     height ease-in-out 0.2s,
  //     transform cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s,
  //     background-color ease-in-out 0.2s;
  //   transform: translateX(-100%);
  // }
  a {
    display: flex;
    flex-grow: 1;
    align-items: center;
    position: relative;
    padding: 0.5rem 1rem;
    gap: 0.7rem;
    font-family: var(--font-primary);
    color: var(--color-text-secondary);
    transition:
      color cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s,
      transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s,
      padding ease-in-out 0.3s,
      gap ease-in-out 0.3s;
    svg {
      flex-shrink: 0;
      font-size: 1.1rem;
    }
    span {
      font-size: 1rem;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      max-width: 140px;
      opacity: 1;
      transition: max-width ease-in-out 0.3s, opacity ease-in-out 0.2s;
    }
  }
  &:not(.active):hover {
    background-color: var(--color-primary-50);
    a {
      color: var(--color-text-primary);
      transform: translateX(10px);
    }
  }
  &.collapsed {
    a {
      padding: 0.6rem 1.95rem;
      gap: 0;
      span {
        max-width: 0;
        opacity: 0;
      }
    }
    &:not(.active):hover a {
      transform: none;
    }
  }
  &.active {
    background-color: var(--color-primary-100);
    &::before {
      transform: translateX(0);
    }
    a {
      // padding-left: 1.5rem;
    }
    svg, span {
      color: var(--color-primary);
    }
  }
}
