APP_ENV=development
APP_PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=dev-psql-user
DB_PASSWORD=dev-password
DB_NAME=dev-db-name

JWT_ACCESS_SECRET=your_jwt_access_secret_key
JWT_ACCESS_TTL=900
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_REFRESH_TTL=604800

PASSWORD_RESET_TTL=86400

INIT_EMAIL=admin@example.com
INIT_PASSWORD=change-me-please
